.container {
    width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: white;
}

.captured {
    background: blue;
}

.bubbled {
    background: yellow;
}

.captured.bubbled {
    background: green;
}